body {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #14A76C;
}

h1, h2, h3, p, label, li, a, th, td, button {
    color: whitesmoke;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 2px;
    display: inline-block;
    border: transparent;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2rem;   
}

input, button {
    display: block;
    background-color: whitesmoke;
    padding: 1rem;
    border: 4px solid #14A76C;
    border-radius: 2px;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
}

a:hover, input:hover, button:hover {
    color: dodgerblue;
}

form, table, header, input, .col-block-1 {
    margin: auto;
}

header, .col-block-1 {
    width: 100%;
    display: block;
    text-align: center;
}

table {
    width: 45%;
}

th {
    border: thin solid black;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
}

td {
    border: thin solid black;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

th, td, li {
    padding: 5px;
}

.title {
    font-size: 3rem;
}

@media only screen and (max-width: 601px) {
    table {
        width: 100%;
    }
}