{% extends "base.html" %}

{% block content %}
    <p>{{ message }}</p>

    <h1>Account Info</h1>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Password: {{ password }}</p>

    <h1>Change Password</h1>
    <form action="{{ url_for('changepassword') }}" method="POST" accept-charset="UTF-8" autocomplete="off" autofocus="off" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" minlength="8" maxlength="30" required/></br>
        <label for="password">Old Password:</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="30" required/></br>
        <label for="password">New Password:</label>
        <input type="password" id="new_password" name="new_password" minlength="8" maxlength="30" required/></br>
        <input type="submit" value="Submit"/>
    </form>

    <a href="/deluser?id={{ username }}">Delete</a>

{% endblock %}