{% extends "base.html" %}

{% block content %}
    <div class="box">
        <ol>
            <li><h2>Account Info</h2></li>
            <li><strong>Username: </strong>{{ username }}</li>
            <li><strong>Email: </strong>{{ email }}</li>
            <li><strong>Account Type: </strong>{{ type }}</li>
            <li>
                <form action="{{ url_for('del_user') }}" method="POST">
                    <input type="hidden" id="username" name="username" value="{{ username }}">
                    <input type="submit" value="Delete Account">
                </form>
            </li>
        </ol>
   
        <form action="{{ url_for('change_username') }}" method="POST" accept-charset="UTF-8" autocomplete="off" autofocus="off" enctype="multipart/form-data">
            <h2>Change Username</h2><br/>
            <input type="hidden" id="username" name="username" value="{{ username }}" required/></br>
            <label for="new_username">New Username</label>
            <input type="text" id="new_username" name="new_username" size="32" minlength="8" maxlength="32" required/></br>
            <input type="submit" value="Submit"/>
        </form>
        <form action="{{ url_for('change_password') }}" method="POST" accept-charset="UTF-8" autocomplete="off" autofocus="off" enctype="multipart/form-data">
            <h2>Change Password</h2><br/>
            <input type="hidden" id="username" name="username" value="{{ username }}" required/></br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" size="32" minlength="8" maxlength="32" required/></br>
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" size="32" minlength="8" maxlength="32" required/></br>
            <input type="submit" value="Submit"/>
        </form>

        <h2>Users</h2>
        <table>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Account Type</th>
                <th>Password Last Updated</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Type }}</td>
                    <td>{{ user.LastUpdated }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}