{% extends "base.html" %}

{% block content %}
    <button type="button" autofocus="off" onclick="toggleBlock('account_info'); disableElementDisplay(['change_username', 'change_password', 'users']);" style="background-color: transparent;">Account Info</button>
    <button type="button" autofocus="off" onclick="toggleBlock('change_username'); disableElementDisplay(['account_info', 'change_password', 'users']);" style="background-color: transparent;">Change Username</button>
    <button type="button" autofocus="off" onclick="toggleBlock('change_password'); disableElementDisplay(['change_username', 'account_info', 'users']);" style="background-color: transparent;">Change Password</button>
    <button type="button" autofocus="off" onclick="toggleBlock('users'); disableElementDisplay(['change_username', 'change_password', 'account_info']);" style="background-color: transparent;">Users</button>

    <div class="col-block-1">
        <ol id="account_info" style="display: none;">
            <li><strong>Username: </strong>{{ username }}</li>
            <li><strong>Email: </strong>{{ email }}</li>
            <li><strong>Account Type: </strong>{{ type }}</li>
        </ol>
    </div>
    <div class="col-block-1">
        <form id="change_username" action="{{ url_for('change_username') }}" method="POST" accept-charset="UTF-8" autocomplete="off" autofocus="off" enctype="multipart/form-data" style="display: none;">
            <input type="hidden" id="username" name="username" value="{{ username }}" required/></br>
            <label for="new_username">New Username</label>
            <input type="text" id="new_username" name="new_username" size="32" minlength="8" maxlength="32" required/></br>
            <input type="submit" value="Submit"/>
        </form>
    </div> 
    <div class="col-block-1">
        <form id="change_password" action="{{ url_for('change_password') }}" method="POST" accept-charset="UTF-8" autocomplete="off" autofocus="off" enctype="multipart/form-data" style="display: none;">
            <input type="hidden" id="username" name="username" value="{{ username }}" required/></br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" size="32" minlength="8" maxlength="32" required/></br>
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" size="32" minlength="8" maxlength="32" required/></br>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="col-block-1">
        <table id="users" style="display: none;">
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Account Type</th>
                <th>Password Last Updated</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Type }}</td>
                    <td>{{ user.LastUpdated }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}