<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask-Auth | {{ title }}</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html"/>
        <meta http-equiv="default-style" content="flask-auth Styles"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="application-name" content="flask-auth"/>
        <meta name="author" content="Drew Hainer"/>
        <meta name="description" content="A simple boilerplate using flask and SQLite"/>
        <meta name="keywords" content="flask-auth, flask, auth, authentication, boilerplate, codeconfidant, code, confidant"/>
        <link title="flask-auth Styles" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/flask-auth.css') }}"/>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <h3 class="copy-heading">&copy; 2020 Drew Hainer</h2>
        </footer>
    </body>
</html>